.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bolder;
    margin-bottom: 5px;
}

#contact-heading {
    color: var(--Color);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #333;
}

button {
    background: var(--BtnColor);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--BtnTextColor);
    font-size: 16px;
}

button:hover {
    background: var(--BtnHoveredColor);
}