.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bolder;
    margin-bottom: 7px;
}

#contact-heading {
    color: var(--Color);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: transparent;
    color: var(--textColor);
    outline: none;
    border: 1px solid var(--Color);
    transition: border-color 0.3s ease;
    resize: vertical;
}

.form-group input.focused-empty,
.form-group textarea.focused-empty {
    border-width: 2px;
    border-color: red;
}

.form-group input.focused-filled,
.form-group textarea.focused-filled {
    border-width: 2px;
    border-color: green;
}


#contactForm button {
    background: var(--BtnColor);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--BtnTextColor);
    font-size: 17px;
}

#contactForm button:hover {
    background: var(--BtnHoveredColor);
}