.copyright {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: var(--Color);
}

@media (max-width:1275px) {
    .copyright {
        position: relative;
        bottom: initial;
        left: inherit;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}