.header-container {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    background: var(--ForegroundColor);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    z-index: 100;
}

@media (max-width:1275px) {
    .header-container {
        position: relative;
        width: calc(100vw - 100px);
        top: -60px;
        left: 0;
    }
}

@media (max-width:700px) {
    .header-container {
        position: relative;
        top: -60px;
        padding: 0 50px;
        right: 0;
        left: 0;
    }
}

.logo {
    color: var(--Color);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px) {
    .logo {
        font-size: 1.3em;
    }

    .header-container {
        padding: 10px 20px;
    }
}

.tags {
    color: var(--textColor);
}

.mobile-nav {
    display: none;
}

.site-nav-menu {
    float: right;
}

.primary-menu {
    list-style: none;
    background: #ebebebf8;
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    padding: 15px 40px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateX(51px) translateY(-21px);
}

.dark-mode .primary-menu {
    background: #2e2e2e;
}

.primary-menu li {
    display: inline-block;
    vertical-align: middle;
}

.primary-menu li a {
    text-decoration: none;
    position: relative;
    font-weight: 600;
    color: var(--Color);
    padding: 8px 15px;
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 1px;
    transition: 0.5s;
    font-size: 15px;
}

@media (max-width:1000px) {
    .primary-menu {
        transform: translateX(21px) translateY(-10px);
    }

    .primary-menu li a {
        padding: 5px 8px;
        font-size: 12px;
    }

    .primary-menu {
        padding: 15px 25px;
    }
}

.primary-menu li a:hover,
.primary-menu li a.active {
    box-shadow: 0 5px 10px var(--boxShadow);
    color: var(--ActiveColor);
}

.mobile-nav {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    outline: none;
    color: var(--Color);
}

@media (max-width:750px) {
    .site-nav-menu {
        float: none;
        position: absolute;
        width: auto;
        right: 25px;
        top: 75px;
        clip-path: circle(0% at 100% 0%);
        transition: all .8s;
    }

    .primary-menu {
        transform: translateX(0px) translateY(0px);
        border-radius: 10px;
    }

    .primary-menu li {
        display: block;
        font-size: 14px;
        text-align: center;
        margin: 25px 5px;
    }

    .primary-menu li a {
        padding: 8px 15px;
        color: var(--Color)
    }

    .primary-menu li a:hover,
    .primary-menu li a.active {
        color: var(--ActiveColor);
    }

    .mobile-nav {
        display: block;
        padding: 0;
    }

    .mobile-menu {
        clip-path: circle(200% at 100% 0%);
    }
}