:root {
    --ActiveColor: #0d5dc5;
    --Color: #1075fa;
    --bodyBackground: #DDF8FD;
    --ForegroundColor: #e1e1e15b;
    --BorderColor: #bdbdbdd0;
    --BorderTopLeft: #ebebebd0;
    --BtnColor: #ffffff;
    --BtnHoveredColor: #dddddd;
    --textColor: #000000;
    --boxShadow: rgba(0, 0, 0, 0.2);
    --btnShadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    --btnBackground: linear-gradient(to bottom right, hsla(0, 0%, 97%, 0.789) 3%, hsla(0, 0%, 97%, 0.304) 97%);
    --btnForeground: linear-gradient(to bottom right, hsla(0, 0%, 85%, 0.5) 0%, hsla(0, 0%, 100%, 0) 100%);
}

.orange-mode {
    --bodyBackground: #FFD6A3;
    --ActiveColor: #d8560a;
    --Color: #fa6610;
}

.purple-mode {
    --bodyBackground: #B9A6DB;
    --ActiveColor: #8d008d;
    --Color: #b900b9;
}

.dark-mode {
    --ActiveColor: #FEBD5E;
    --Color: #ffdb70;
    --bodyBackground: black;
    --ForegroundColor: #1e1e1fd0;
    --BorderColor: #6b6b6b80;
    --BorderTop: #cccccc80;
    --BorderTopLeft: #cccccc80;
    --BtnColor: #bdbdbd;
    --BtnHoveredColor: #919191;
    --textColor: #ffffff;
    --boxShadow: rgba(185, 185, 185, 0.2);
    --btnShadow: 0 16px 40px hsla(0, 0%, 0%, 0.25);
    --btnBackground: linear-gradient(to bottom right, hsla(240, 1%, 25%, 0.589) 3%, hsla(0, 0%, 19%, 0.404) 97%);
    --btnForeground: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsla(240, 3%, 13%, 0.719);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.main {
    height: 100%;
    width: 100%;
    background: url(assets/blueBg.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
}

.purple-mode .main {
    background: url(assets/purpleBg.png);
    /* https://img.freepik.com/free-vector/background-bokeh-effect-gradient_23-2148377116.jpg */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
}

.orange-mode .main {
    background: url(assets/orangeBg.png);
    /* https://img.freepik.com/premium-photo/blurred-lights-yellow-background-lights-yellow-background_3248-3008.jpg */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
}

.dark-mode .main {
    background: url(https://img.freepik.com/premium-vector/white-gray-smooth-gradient-background-wallpaper-vector-image-backdrop-presentation_1110513-7463.jpg?ga=GA1.1.613874101.1733114189);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
}

::-moz-selection {
    color: black;
    background: var(--Color);
}

::selection {
    color: black;
    background: var(--Color);
}

.user-select-none {
    user-select: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 1px;
    background: var(--bodyBackground);
    color: var(--textColor);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    background: url(introbackground.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.abhinavintrotext {
    color: var(--Color);
}

@media (max-width:1275px) {
    section {
        padding: 50px 10px 10px;
    }
}

/* container class css. container is common to all as a layout definition */
.container {
    position: relative;
    margin-top: 40px;
    width: calc(100% - 100px);
    max-width: 1600px;
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: var(--ForegroundColor);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    align-items: center;
    display: flex;
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    justify-content: center;
    align-items: center;
    padding: 50px;
    z-index: 1;
}

#tab-content {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media(max-width:1275px) {
    #tab-content {
        margin-top: 20px;
        gap: 50px;
    }
}

@media(max-width:750px) {
    #tab-content {
        flex-direction: column-reverse;
    }

    #tab-content {
        gap: 60px;
    }
}

@media (min-width:1400px) {
    .container {
        justify-content: space-between;
    }

    .container {
        justify-content: space-between;
    }
}

@media (max-width:1275px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
        margin: 40px 20px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
}

/* css for content div which holds the left container */
.content {
    transform: translateX(-100px);
    width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    padding: 40px;
    background-color: var(--ForegroundColor);
}

.content h2 {
    font-size: 1.9em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1em;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

@media(max-width:500px) {
    .content h2 {
        font-size: 1em;
    }

    .content p {
        font-size: 0.5em;
    }

    .content a {
        font-size: 0.5em;
    }
}

@media (max-width:700px) {
    .content h2 {
        font-size: 1.5em;
    }

    .content p {
        font-size: 1em;
    }
}

@media (max-width:1275px) {
    .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }

    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media(min-width:1400px) {
    .content {
        width: 60%;
        left: -2%;
    }

    .content h2 {
        font-size: 300%;
    }

    .content p {
        font-size: 150%;
    }
}

/* css for image transform at the right side */
#profile_img {
    width: 400px;
    min-width: 300px;
}

.profile_blob {
    fill: var(--Color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_blob-img {
    transform: scale(0.4);
}

#profile_img:hover .profile_blob-img {
    transform: scale(0.5) translateX(-60px);
}

@media(max-width:600px) {
    #profile_img {
        width: 80%;
        max-width: 200px;
    }
}

/* style for button */
.btn {
    position: relative;
    background: var(--btnBackground);
    font-weight: bold;
    border: none;
    padding: 13px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--Color);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
    width: 100%;
    box-shadow: var(--btnShadow);
    transition: 0.25s ease;
}

@media (min-width: 768px) {
    .btn {
        width: max-content;
        margin-left: auto;
    }
}

.btn:hover {
    background: linear-gradient(to bottom right, var(--Color) 0%, hsla(36, 100%, 69%, 0) 65%);
}

.btn::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--btnForeground);
    border-radius: inherit;
    z-index: -1;
    transition: 0.25s ease;
}

/* css for toast */
.toast {
    position: fixed;
    top: 30px;
    right: 50%;
    transform: translateX(50%);
    max-width: content;
    padding: 20px 30px;
    z-index: 1000;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    backdrop-filter: blur(20px);
}

@media(max-width:667px) {
    .toast {
        width: 80%;
    }
}

.error-toast {
    border: 1px solid red;
    background: rgba(255, 2, 2, 0.2);
}

.success-toast {
    border: 1px solid green;
    background: rgba(2, 255, 2, 0.2);
}