:root {
    --ActiveColor: #d8560a;
    --Color: #fa6610;
    --ForegroundColor: #e1e1e15b;
    --BorderColor: #bdbdbdd0;
    --BorderTopLeft: #ebebebd0;
    --BtnColor: #ffffff;
    --BtnTextColor: #fa6610;
    --BtnHoveredColor: #dddddd;
    --textColor: #000000;
    --boxShadow: rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --ActiveColor: #FEBD5E;
    --Color: #ffdb70;
    --ForegroundColor: #1e1e1fd0;
    --BorderColor: #6b6b6b80;
    --BorderTop: #cccccc80;
    --BorderTopLeft: #cccccc80;
    --BtnColor: #bdbdbd;
    --BtnHoveredColor: #919191;
    --textColor: #ffffff;
    --boxShadow: rgba(185, 185, 185, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.main {
    height: 100%;
    width: 100%;
    background: url(assets/introbackground.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--textColor);
}

.dark-mode .main {
    background: url(assets/image.png);
}

.dark-mode ::-moz-selection {
    color: black;
    background: var(--Color);
}

.dark-mode ::selection {
    color: black;
    background: var(--Color);
}

body.dark-mode {
    background-color: black;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    background: url(introbackground.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.abhinavintrotext {
    color: var(--Color);
}

@media (max-width:1275px) {
    section {
        padding: 50px 10px 10px;
    }
}

/* container class css. container is common to all as a layout definition */
.container {
    position: relative;
    margin-top: 40px;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: var(--ForegroundColor);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    align-items: center;
    display: flex;
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    justify-content: center;
    align-items: center;
    padding: 50px;
    z-index: 1;
}

#tab-content {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

@media(max-width:1275px) {
    #tab-content {
        gap: 20px;
    }
}

@media(max-width:700px) {
    #tab-content {
        flex-direction: column;
    }
}

@media (min-width:1400px) {
    .container {
        justify-content: space-between;
    }

    .container {
        justify-content: space-between;
    }
}

@media (max-width:1275px) {
    .container {
        position: relative;
        width: calc(100% - 20px);
        margin: 40px 20px;
    }

    .container {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
}

/* css for content div which holds the left container */
.content {
    transform: translateX(-100px);
    width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--BorderColor);
    border-top: 1px solid var(--BorderTopLeft);
    border-left: 1px solid var(--BorderTopLeft);
    padding: 40px;
    background-color: var(--ForegroundColor);
}

.content h2 {
    font-size: 1.9em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1em;
}

.content a {
    display: inline-block;
    padding: 15px 30px;
    background: var(--BtnColor);
    color: var(--BtnTextColor);
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content a:hover {
    background: var(--BtnHoveredColor);
}

@media(max-width:500px) {
    .content h2 {
        font-size: 1em;
    }

    .content p {
        font-size: 0.5em;
    }

    .content a {
        font-size: 0.5em;
    }
}

@media (max-width:700px) {
    .content h2 {
        font-size: 1.5em;
    }

    .content p {
        font-size: 1em;
    }
}

@media (max-width:1275px) {
    .content {
        transform: translateX(0px);
        max-width: 100%;
        padding: 30px;
        margin-top: -40px;
    }

    .content a {
        font-size: 1em;
        padding: 10px 20px;
    }
}

@media(min-width:1400px) {
    .content {
        width: 60%;
        left: -2%;
    }

    .content h2 {
        font-size: 300%;
    }

    .content p {
        font-size: 150%;
    }
}

/* css for image animated at the right side */
.imgbx img {
    max-width: 325px;
    animation: animate 5s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(100px);
    }
}

@media (max-width:1275px) {
    .imgbx {
        margin-bottom: 50px;
    }

    .imgbx img {
        max-width: 275px;
    }

    @keyframes animate {

        0%,
        100% {
            transform: translateY(-20px);
        }

        50% {
            transform: translateY(40px);
        }

    }
}

@media (min-width:1400px) {
    .imgbx img {
        position: relative;
    }
}